.blog__content {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-inline: var(--default-margin-inline);
}

.blog__content h1,
.blog__content h2,
.blog__content h3,
.blog__content h4,
.blog__content h5,
.blog__content h6 {
  letter-spacing: 1px;
  font-family: var(--font-secondary);
}

.blog__content h1 {
  color: var(--clr-accent);
  margin-block: 3rem;
  font-size: clamp(1.35rem, 1rem + 2vw, 2.5rem);
  text-align: center;
  max-width: 40ch;
  margin-inline: auto;
}

.blog__content h2 {
  font-size: clamp(1.25rem, 1rem + 2vw, 2rem);
  margin-block: 0.75rem;
}

.blog__content h4 {
  margin-block: 0.3rem;
  font-weight: 800;
}

.blog__content p {
  font-size: 1.25rem;
}

.blog__content .blog__image {
  max-width: 900px;
  margin-inline: auto;
  display: block;
  border-radius: 10px;
}
