.detailed-career__content {
  margin-inline: var(--default-margin-inline);
  border: none;
  font-size: 1.25rem;
}

.detailed-career__content h1 {
  text-transform: uppercase;
  color: var(--clr-accent);
  font-size: clamp(2.5rem, 1rem + 3vw, var(--section-title-size));
  font-weight: 300;
  font-family: var(--font-secondary);
  letter-spacing: 2px;
  text-align: center;
  margin-top: 5rem;
}

.detailed-career__content h2 {
  font-weight: 600;
  color: var(--clr-accent);
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  text-transform: uppercase;
  margin-top: 3rem;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
}

.detailed-career__content h4 {
  font-weight: 500;
  color: var(--clr-accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
}

.detailed-career__content ul {
  list-style: circle;
}

.detailed-career__content ul li {
  margin-block: 0.5rem;
}

.detailed-career .contact-form {
  max-width: 750px;
  margin-top: 3rem;
}
