@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root,
* {
  --clr-accent: #d46b47;
  --clr-text-primary: #fff;
  --font-secondary: 'Poppins', Sans-serif;
  --font-primary: 'Dosis', Sans-serif;
  --clr-bg-primary: #00142b;
  --default-margin-inline: 10%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  margin: 0px;
  padding: 0px;
}

.button {
  background-color: var(--clr-accent);
  border-radius: 5px;
  border: 2px solid var(--clr-accent);
  color: var(--clr-text-primary);
  font-size: 1rem;
  font-weight: medium;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all ease-in 200ms;
}

.button:hover {
  background-color: transparent;
  color: var(--clr-accent);
  cursor: pointer;
}
